* {
  box-sizing: border-box;
}

body{
 
  background-color: #fadee3;
  text-align: center;
  color: white;
  font-family: 'Archivo', sans-serif;
  font-size: 15px;
}

canvas {
      position: static;
      z-index: -1;
    }

@media screen and (max-width:600px) {
  .column {
  width: 100%;
  }
}